profiles/macros/hatsMacroSchema.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="macro">
		<xsd:complexType>
			<xsd:sequence>
				<!--Defines connection definitions to associate with this macro -->
				<xsd:element maxOccurs="1" minOccurs="0" name="associatedConnections" type="associatedConnectionsDesc"/>
				<xsd:element maxOccurs="1" minOccurs="0" name="extracts">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Defines to the HATS macro engine how to handle data extracted from a host screen while a macro is running -->
							<xsd:element maxOccurs="unbounded" minOccurs="0" name="extract" type="extractDesc"/>
							<xsd:any minOccurs="0" processContents="skip"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element maxOccurs="1" minOccurs="0" name="prompts">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="unbounded" minOccurs="0" name="prompt" type="promptDescAttr"/>
							<xsd:any minOccurs="0" processContents="skip"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<!--Host On-Demand macro script described in this document. -->
				<xsd:element maxOccurs="1" minOccurs="0" name="HAScript" type="HAScriptDesc"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="actionDesc">
		<xsd:sequence maxOccurs="unbounded" minOccurs="0">
			<xsd:choice>
				<xsd:element name="boxselection">
					<xsd:complexType>
						<xsd:attribute name="srow" type="xsd:integer" use="required"/>
						<xsd:attribute name="scol" type="xsd:integer" use="required"/>
						<xsd:attribute name="erow" type="xsd:integer" use="required"/>
						<xsd:attribute name="ecol" type="xsd:integer" use="required"/>
						<xsd:attribute default="SELECT" name="type"/>
						<xsd:attribute name="hostid" type="xsd:string"/>
						<xsd:anyAttribute processContents="skip"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="varupdate">
					<xsd:complexType>
						<xsd:attribute name="name"/>
						<xsd:attribute name="value"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="input" type="inputAttr"/>
				<xsd:element name="message" type="messageAttr"/>
				<xsd:element name="if" type="ifDesc"/>
				<xsd:element name="else" type="elseDesc"/>
				<xsd:element name="prompt" type="promptDescAttr"/>
				<xsd:element name="extract" type="extractDesc"/>
				<xsd:element name="fileupload" type="fileuploadAttr"/>
				<xsd:element name="filexfer" type="filexferAttr"/>
				<xsd:element name="print" type="printAttr"/>
				<xsd:element name="runprogram" type="runprogramAttr"/>
				<xsd:element name="custom">
					<xsd:complexType>
						<xsd:attribute name="id" use="required"/>
						<xsd:attribute name="args"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="commwait">
					<xsd:complexType>
						<xsd:attribute name="value">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="CONNECTION_INIT"/>
									<xsd:enumeration value="CONNECTION_PND_ACTIVE"/>
									<xsd:enumeration value="CONNECTION_ACTIVE"/>
									<xsd:enumeration value="CONNECTION_READY"/>
									<xsd:enumeration value="CONNECTION_DEVICE_NAME_READY"/>
									<xsd:enumeration value="CONNECTION_WORKSTATION_ID_READY"/>
									<xsd:enumeration value="CONNECTION_PND_INACTIVE"/>
									<xsd:enumeration value="CONNECTION_INACTIVE"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="timeout" type="xsd:integer" use="required"/>
						<xsd:attribute name="hostid" type="xsd:string"/>
						<xsd:anyAttribute processContents="skip"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="perform">
					<xsd:complexType>
						<xsd:attribute name="value"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="playmacro" type="playMacroAttr"/>
				<xsd:element name="sqlquery">
					<xsd:complexType>
						<xsd:attribute name="url" use="required"/>
						<xsd:attribute name="driver" use="required"/>
						<xsd:attribute name="userid"/>
						<xsd:attribute name="password"/>
						<xsd:attribute name="statement"/>
						<xsd:attribute name="outputtype"/>
						<xsd:attribute name="outfilename"/>
						<xsd:attribute name="outfiletype"/>
						<xsd:attribute name="overwrite"/>
						<xsd:attribute name="inbrowser"/>
						<xsd:attribute name="holdondisplay"/>
						<xsd:attribute name="mlprops"/>
						<xsd:anyAttribute processContents="skip"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="trace">
					<xsd:complexType>
						<xsd:attribute name="type" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="HODTRACE"/>
									<xsd:enumeration value="USER"/>
									<xsd:enumeration value="SYSOUT"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="value" use="required"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="pause">
					<xsd:complexType>
						<xsd:attribute name="value" type="xsd:integer"/>
						<xsd:attribute name="ignorepauseoverride"/>
						<xsd:anyAttribute processContents="skip"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="mouseclick">
					<xsd:complexType>
						<xsd:attribute name="row" use="required"/>
						<xsd:attribute name="col" use="required"/>
						<xsd:attribute name="hostid"/>
						<xsd:anyAttribute processContents="skip"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="promptall" type="xsd:boolean"/>
	</xsd:complexType>
	<xsd:complexType name="associatedConnectionsDesc">
		<xsd:all minOccurs="0">
			<xsd:element name="connection">
				<xsd:complexType>
					<xsd:attribute name="name"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attribute name="default"/>
	</xsd:complexType>
	<xsd:complexType name="varsDesc">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="create">
				<xsd:complexType>
					<xsd:attribute name="name" use="required"/>
					<xsd:attribute name="type" use="required"/>
					<xsd:attribute name="value"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="importDesc">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="type">
				<xsd:complexType>
					<xsd:attribute name="class" use="required"/>
					<xsd:attribute name="name"/>
					<xsd:anyAttribute processContents="skip"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="screenDesc">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="comment"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="description" type="descriptionDesc"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="actions" type="actionDesc"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="nextscreens" type="nextscreenDesc"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="recolimit">
				<xsd:complexType>
					<xsd:attribute name="value" type="xsd:integer" use="required"/>
					<xsd:attribute name="goto" type="xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="entryscreen"/>
		<xsd:attribute name="exitscreen"/>
		<xsd:attribute name="name"/>
		<xsd:attribute name="transient"/>
		<xsd:attribute name="pause"/>
		<xsd:anyAttribute processContents="skip"/>
	</xsd:complexType>
	<xsd:complexType name="HAScriptDesc">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="import" type="importDesc"/>
			<xsd:element maxOccurs="1" minOccurs="0" name="vars" type="varsDesc"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="screen" type="screenDesc"/>
		</xsd:sequence>
		<xsd:attribute name="name" use="required"/>
		<xsd:attribute name="description"/>
		<xsd:attribute name="timeout"/>
		<xsd:attribute name="pausetime"/>
		<xsd:attribute name="promptall" type="xsd:boolean" use="required"/>
		<xsd:attribute name="author"/>
		<xsd:attribute name="creationdate"/>
		<xsd:attribute name="suppressclearevents"/>
		<xsd:attribute name="usevars" type="xsd:boolean" use="required"/>
		<xsd:attribute name="ignorepauseforenhancedtn"/>
		<xsd:attribute name="delayifnotenhancedtn"/>
		<xsd:attribute name="blockTerminalInput"/>
		<xsd:attribute name="blockinput"/>
		<xsd:attribute name="ignorepausetimeforenhancedtn"/>
		<xsd:attribute name="supressclearevents"/>
		<xsd:anyAttribute processContents="skip"/>
	</xsd:complexType>
	<xsd:complexType name="extractDesc">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="column">
				<xsd:complexType>
					<xsd:attribute name="dx"/>
					<xsd:attribute name="dy"/>
					<xsd:attribute name="name"/>
					<xsd:attribute name="x"/>
					<xsd:attribute name="type"/>
					<xsd:attribute name="y"/>
					<xsd:anyAttribute processContents="skip"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:any minOccurs="0" processContents="skip"/>
		</xsd:sequence>
		<xsd:attribute name="handler"/>
		<xsd:attribute name="index"/>
		<xsd:attribute name="indexed"/>
		<xsd:attribute name="name" use="required"/>
		<xsd:attribute name="overwrite"/>
		<xsd:attribute name="shared"/>
		<xsd:attribute name="planetype" type="planeAttr"/>
		<xsd:attribute name="save"/>
		<xsd:attribute name="separator"/>
		<xsd:attribute name="showHandler"/>
		<xsd:attribute name="updateVariableImmediately"/>
		<xsd:attribute name="variableName"/>
		<xsd:attribute name="srow"/>
		<xsd:attribute name="scol"/>
		<xsd:attribute name="erow"/>
		<xsd:attribute name="ecol"/>
		<xsd:attribute name="unwrap" type="xsd:boolean"/>
		<xsd:attribute name="continuous" type="xsd:boolean"/>
		<xsd:attribute name="assigntovar"/>
		<xsd:attribute name="hostid"/>
		<xsd:anyAttribute processContents="skip"/>
	</xsd:complexType>
	<xsd:complexType name="promptDescAttr">
		<xsd:attribute name="handler"/>
		<xsd:attribute name="value"/>
		<xsd:attribute name="source"/>
		<xsd:attribute name="name"/>
		<xsd:attribute name="variableIndex"/>
		<xsd:attribute name="variableIndexed"/>
		<xsd:attribute name="welApplID"/>
		<xsd:attribute name="separator"/>
		<xsd:attribute name="welIsPassword"/>
		<xsd:attribute name="variableName"/>
		<xsd:attribute name="description"/>
		<xsd:attribute name="row"/>
		<xsd:attribute name="col"/>
		<xsd:attribute name="len"/>
		<xsd:attribute name="default"/>
		<xsd:attribute name="clearfield"/>
		<xsd:attribute name="encrypted"/>
		<xsd:attribute name="movecursor"/>
		<xsd:attribute name="xlatehostkeys"/>
		<xsd:attribute name="assigntovar"/>
		<xsd:attribute name="varupdateonly"/>
		<xsd:attribute name="required"/>
		<xsd:attribute name="hostid"/>
		<xsd:attribute name="title"/>
		<xsd:attribute name="shared"/>
		<xsd:attribute name="screenorientation"/>
		<xsd:anyAttribute processContents="skip"/>
	</xsd:complexType>
	<xsd:complexType name="nextscreenDesc">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="nextscreen">
				<xsd:complexType>
					<xsd:attribute name="name" use="required"/>
					<xsd:anyAttribute processContents="skip"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="timeout" type="xsd:integer"/>
		<xsd:anyAttribute processContents="skip"/>
	</xsd:complexType>
	<xsd:complexType name="descriptionDesc">
		<xsd:sequence maxOccurs="unbounded" minOccurs="0">
			<xsd:choice>
				<xsd:element name="oia">
					<xsd:complexType>
						<xsd:attribute name="status">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="NOTINHIBITED"/>
									<xsd:enumeration value="DONTCARE"/>
									<xsd:pattern value="[A-Z]*"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="invertmatch"/>
						<xsd:attribute default="false" name="optional"/>
						<xsd:attribute name="hostid"/>
						<xsd:anyAttribute processContents="skip"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="string">
					<xsd:complexType>
						<xsd:attribute name="value" type="xsd:string" use="required"/>
						<xsd:attribute name="row"/>
						<xsd:attribute name="col"/>
						<xsd:attribute name="erow"/>
						<xsd:attribute name="ecol"/>
						<xsd:attribute default="false" name="casesense" type="xsd:boolean"/>
						<xsd:attribute default="false" name="wrap" type="xsd:boolean"/>
						<xsd:attribute default="false" name="optional" type="xsd:boolean"/>
						<xsd:attribute name="invertmatch" type="xsd:boolean"/>
						<xsd:anyAttribute processContents="skip"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="cursor">
					<xsd:complexType>
						<xsd:attribute name="row" use="required"/>
						<xsd:attribute name="col" use="required"/>
						<xsd:attribute name="optional" type="xsd:boolean"/>
						<xsd:attribute name="invertmatch" type="xsd:boolean"/>
						<xsd:attribute name="hostid" type="xsd:string"/>
						<xsd:anyAttribute processContents="skip"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="numfields" type="numfieldsAttr"/>
				<xsd:element name="numinputfields" type="numfieldsAttr"/>
				<xsd:element name="block"/>
				<xsd:element name="attrib">
					<xsd:complexType>
						<xsd:attribute name="plane" type="planeAttr"/>
						<xsd:attribute name="row" type="xsd:integer" use="required"/>
						<xsd:attribute name="col" type="xsd:integer" use="required"/>
						<xsd:attribute name="value" use="required"/>
						<xsd:attribute default="false" name="optional" type="xsd:boolean" use="optional"/>
						<xsd:attribute default="false" name="invertmatch" type="xsd:boolean" use="optional"/>
						<xsd:attribute name="hostid" type="xsd:string"/>
						<xsd:anyAttribute processContents="skip"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="condition">
					<xsd:complexType>
						<xsd:attribute name="value" use="required"/>
						<xsd:attribute name="optional" type="xsd:boolean"/>
						<xsd:attribute name="invertmatch" type="xsd:boolean"/>
						<xsd:anyAttribute processContents="skip"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="customreco">
					<xsd:complexType>
						<xsd:attribute name="id" use="required"/>
						<xsd:attribute name="optional" type="xsd:boolean"/>
						<xsd:attribute name="invertmatch" type="xsd:boolean"/>
						<xsd:anyAttribute processContents="skip"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="varupdate">
					<xsd:complexType>
						<xsd:attribute name="name"/>
						<xsd:attribute name="value"/>
						<xsd:anyAttribute processContents="skip"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="uselogic"/>
		<xsd:attribute name="matchvisual"/>
		<xsd:anyAttribute processContents="skip"/>
	</xsd:complexType>
	<xsd:complexType name="inputAttr">
		<xsd:attribute name="value" use="required"/>
		<xsd:attribute name="row"/>
		<xsd:attribute name="col"/>
		<xsd:attribute name="movecursor"/>
		<xsd:attribute name="xlatehostkeys"/>
		<xsd:attribute name="encrypted"/>
		<xsd:attribute name="hostid"/>
		<xsd:anyAttribute processContents="skip"/>
	</xsd:complexType>
	<xsd:complexType name="playMacroAttr">
		<xsd:attribute name="name" use="required"/>
		<xsd:attribute name="startscreen"/>
		<xsd:attribute name="transferVars" use="required"/>
		<xsd:anyAttribute processContents="skip"/>
	</xsd:complexType>
	<xsd:complexType name="ifDesc">
		<xsd:sequence maxOccurs="unbounded" minOccurs="0">
			<xsd:any minOccurs="0" processContents="skip"/>
		</xsd:sequence>
		<xsd:attribute name="condition" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="elseDesc">
		<xsd:sequence maxOccurs="unbounded" minOccurs="0">
			<xsd:any minOccurs="0" processContents="skip"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="planeAttr">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="TEXT_PLANE|FIELD_PLANE|COLOR_PLANE|EXFIELD_PLANE|DBCS_PLANE|GRID_PLANE|[A-Z_A-Z, A-Z]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="numfieldsAttr">
		<xsd:attribute name="number" type="xsd:integer" use="required"/>
		<xsd:attribute default="false" name="optional" type="xsd:boolean"/>
		<xsd:attribute default="false" name="invertmatch" type="xsd:boolean"/>
		<xsd:attribute name="hostid"/>
		<xsd:anyAttribute processContents="skip"/>
	</xsd:complexType>
	<xsd:complexType name="fileuploadAttr">
		<xsd:attribute name="url" use="required"/>
		<xsd:attribute name="driver" use="required"/>
		<xsd:attribute name="userid"/>
		<xsd:attribute name="password"/>
		<xsd:attribute name="filename" use="required"/>
		<xsd:attribute name="filetype" use="required"/>
		<xsd:attribute name="uploadtype"/>
		<xsd:attribute name="fielddesctable"/>
		<xsd:attribute name="keycolumns"/>
		<xsd:anyAttribute processContents="skip"/>
	</xsd:complexType>
	<xsd:complexType name="filexferAttr">
		<xsd:attribute name="direction"/>
		<xsd:attribute name="pcfile"/>
		<xsd:attribute name="hostfile"/>
		<xsd:attribute name="clear" use="required"/>
		<xsd:attribute name="timeout"/>
		<xsd:attribute name="options"/>
		<xsd:attribute name="pccodepage"/>
		<xsd:attribute name="hostorientation"/>
		<xsd:attribute name="pcorientation"/>
		<xsd:attribute name="pcfiletype"/>
		<xsd:attribute name="lamalefexpansion"/>
		<xsd:attribute name="lamalefcompression"/>
		<xsd:attribute name="hostid"/>
		<xsd:anyAttribute processContents="skip"/>
	</xsd:complexType>
	<xsd:complexType name="printAttr">
		<xsd:attribute name="action"/>
		<xsd:attribute name="srow"/>
		<xsd:attribute name="scol"/>
		<xsd:attribute name="erow"/>
		<xsd:attribute name="ecol"/>
		<xsd:attribute name="assigntovar"/>
		<xsd:attribute name="hostid"/>
		<xsd:anyAttribute processContents="skip"/>
	</xsd:complexType>
	<xsd:complexType name="runprogramAttr">
		<xsd:attribute name="exe" use="required"/>
		<xsd:attribute name="param"/>
		<xsd:attribute name="wait"/>
		<xsd:attribute name="assignexitvalue"/>
		<xsd:anyAttribute processContents="skip"/>
	</xsd:complexType>
	<xsd:complexType name="messageAttr">
		<xsd:attribute name="title"/>
		<xsd:attribute name="value"/>
		<xsd:anyAttribute processContents="skip"/>
	</xsd:complexType>
</xsd:schema>